<div class="page">
    <div class="main-content">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Material Default Table">
                <div class="tab-container">
                    <app-mat-default-table></app-mat-default-table>
                </div>
            </mat-tab>
            <mat-tab label="Second">
                <div class="tab-container">

                </div>
            </mat-tab>
            <mat-tab label="Third">
                <div class="tab-container">
                    
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>