@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
    min-height: 1300px;
}

.my-button-white {
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 10px;
    outline: none;

    &:hover {
        background-color: white;
        color: #673ab7;
        cursor: pointer;
    }
}

.active-link {
    background-color: rgba(0, 0, 0, 0.3);
}